{% extends "layout.html"%}
{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action ="{{url_for('register')}}" method="POST">
        <fieldset>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name" />
            </div>
            <div class ="form-group">
                <input autocomplete="off" autofocus class="form-control" name="reg_no" placeholder="Registration No" type="text"/>
            </div>
            <div class ="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password"/>
            </div>
            <div class ="form-group">
                <input class="form-control" type="password" name="confirm" placeholder="Confirm Password"/>
            </div>
            <div class ="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
{%endblock%}