{% extends "layout.html" %}
{% block title %}
    Current Demand
{% endblock %}

{%block main %}

<div class="well well-sm">
Snacks
</div>
<div class="row">
    <div class="col-6">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th class="center">Snacks Item 1</th>
                </tr>
            </thead>
            <thead>
              <tr>
                <th>Items</th>
                <th>No. of students</th>
              </tr>
            </thead>
            <tbody>
                {% for s in snacks1 %}
                <tr>
                    <td>{{s.item}}</td>
                    <td>{{s.count}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>


    <div class="col-6">
        <table class="table table-striped " >
            <thead>
                <tr>
                    <th class="center">Snack2</th>
                </tr>
            </thead>
            <thead>
              <tr>
                <th>Items</th>
                <th>No. of students</th>
              </tr>
            </thead>
            <tbody>
                {%for s in snacks2%}
                <tr>
                    <td>{{s.item}}</td>
                    <td>{{s.count}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>



<div class="well well-sm">
    Breakfast
</div>



<div class ="row">
    <div class="col-6 ">
        <table class="table table-striped " >
        <thead>
            <tr>
                <th class="center">Breakfast 1</th>
            </tr>
        </thead>
        <thead>
          <tr>
            <th>Items</th>
            <th>No. of students</th>
          </tr>
        </thead>
        <tbody>
            {%for bf in bfmenu1%}
            <tr>
                <td>{{bf.item}}</td>
                <td>{{bf.count}}</td>
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th class="center">Breakfast 2 </th>
                </tr>
            </thead>
            <thead>
              <tr>
                <th>Items</th>
                <th>No. of students</th>
              </tr>
            </thead>
            <tbody>
                {% for bf in bfmenu2 %}
                <tr>
                    <td>{{bf.item}}</td>
                    <td>{{bf.count}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        </div>

</div>
<div class="row">
    <div class="col-6">
        <table class="table table-striped " >
            <thead>
                <tr>
                    <th class="center">Breakfast 3</th>
                </tr>
            </thead>
            <thead>
              <tr>
                <th>Items</th>
                <th>No. of students</th>
              </tr>
            </thead>
            <tbody>
                {%for bf in bfmenu3%}
                <tr>
                    <td>{{bf.item}}</td>
                    <td>{{bf.count}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table table-striped " >
        <thead>
            <tr>
                <th class="center">Breakfast 4</th>
            </tr>
        </thead>
        <thead>
          <tr>
            <th>Items</th>
            <th>No. of students</th>
          </tr>
        </thead>
        <tbody>
            {%for bf in bfmenu4%}
            <tr>
                <td>{{bf.item}}</td>
                <td>{{bf.count}}</td>
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>

</div>
{%endblock%}